{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if project_user == user %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h5>Delete Project</h5>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method="POST" enctype="multipart/form-data">
                <h2>Are you sure you want to delete?</h2>
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-danger mt-3">Delete!</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<script>
    window.location.replace("http://127.0.0.1:8000/");
</script>
{% endif %}
{% endblock content %}