{% extends "base/base.html" %}

{% block content %}

<div class="px-4 py-3 text-center" id="hero">
    <h1 class="display-5 color-1 mt-4">CONNECT WITH DEVELOPERS</h1>
    <div class="col-lg-6 mx-auto">
        <h3 class="mb-4 color-1">ALL AROUND THE WORLD.</h3>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <div class="container">
                <div class="row height d-flex justify-content-center align-items-center">
                    <div class="col-md-8">
                        <div class="search">
                            <i class="fa fa-search"></i>
                            <input class="form-control" placeholder="Have a question? Ask Now" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-5 mt-5">
  <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
    <div class="col">
      <div class="card h-100 shadow-sm">
        <div class="text-center">
          <div class="img-hover-zoom img-hover-zoom--colorize">
            <img class="shadow" src="https://source.unsplash.com/rDEOVtE7vOs/600x600" alt="Another Image zoom-on-hover effect">
          </div>
        </div>
        <div class="card-body">
          <div class="clearfix mb-3">
          </div>
          <div class="my-2 text-center">
            <h6>Mia Wallace</h6>
          </div>
          <div class="mb-3">
            <p class="text-center">Senior Frontend Developer</p>
              <p class="text-center role">2 lines bio 2 lines bio 2 lines bio!!</p>
          </div>
          <div class="box text-center">
            <div>
              <ul class="list-inline">
                <li class="list-inline-item"><span style="background-color:#e6faff!important;" class="badge text-bg-info">Java</span></li>
                <li class="list-inline-item"><span style="background-color:#e6faff!important;" class="badge text-bg-info">Python</span></li>
                <li class="list-inline-item"><span style="background-color:#e6faff!important;" class="badge text-bg-info">Django</span></li>
                  <li class="list-inline-item"><span style="background-color:#e6faff!important;" class="badge text-bg-info">Django</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}